/*    Shared in all pages    */
body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Verdana, Helvetica, sans-serif;
}

#dummyDiv img{
    width: 5%
}

ul {
    list-style-type: none;
}

label {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.navBar a:visited {
    color: white;
}

h1 {
    margin: 5px 1% 5px 1%;
    font-size: xx-large;
}

h2 {
    margin: 5px 1% 5px 1%;
    font-size: 25px;
}

h3 {
    font-size: 22px;
    margin: 5px 1% 5px 1%;
}

#containerLogo {
    border: solid black;
    border-width: 1px 0 2px 0;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient( #DB53FB, #000000);
    color: white;
    width: 100%;
    text-shadow: 2px -2px black;
    margin: 0px;
}

.main{
    text-align: center;
    clear: both;
    list-style-type: none;
    margin-top: 2%;
    overflow: hidden;
}

#dummyDiv {
    margin-top: 5px;
    margin-bottom: 60px;
    text-align: center;
}

.navBar a {
    float: left;
    color: #ffffff;
    padding: 2% 4%;
    text-shadow: 2px -2px black;
}

.navBar a:hover {
    background-color: white;
    color: black;
    text-shadow: 2px -1px #DB53FB;
}


.navBar  {
    background-image: linear-gradient( #DB53FB, #000000);
    position: fixed;
    bottom: 0;
    list-style-type: none;
    text-shadow: 1px -1px grey;
    border: 1px solid black;
    width: 100%;
    font-weight: bold;
    font-size: large;
    z-index: 5;
}

span, p {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    font-size: large;
}



/* -----------------------*/



/*    Only HomePage    */
.collapseContainer label::after {
    display:flex;
    content: "";
    background-image: url("Images/down3.png");
    background-size: 20px 15px;
    width: 20px;
    height: 15px;
    transition: all 0.4s 0.05s;
    transform: rotate(-90deg);
    position: relative;
    top: 6px;
    left: 10px;
}

#featuredArtists {
    margin-bottom: 5px;
    width: 100%;
}

.textBox {
    margin-left: 1%;
    float: left;
    width: 69%;
}

.artist {
    font-size: 20px;
    color: white;
    text-align: center;
    float: left;
    width: 45%;
    padding: 5px;
    margin-left: 5px;
}

#featuredArtists::after {
    content: "";
    clear: both;
    display: table;
}

.collapseContainer label {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
}

.collapseContainer {
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #333333;
    border: 2px solid black;
    width: 100%;
    font-size: x-large;
    margin-bottom: 5px;
    text-shadow: 2px -2px black;
}

#goldContainer {
    color: gold;
    font-weight: bold;
}

#silverContainer {
    color: #C4D4F0;
}

#platinumContainer {
    color: 	#E5E4E2;
}

#familyContainer {
    color: #DB53FB;
}

input[type=checkbox] {
    width: 100%;
    display: none;
}

#goldTable, #silverTable, #platinumTable, #familyTable {
    display: none;
}

.inside {
    font-size: large;
    margin: auto;
    color: #DB53FB;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
}

#goldCheck:checked ~ label:after{
    transform: rotate(0deg);
}
#goldCheck:checked ~ #goldTable {
    display: block;
}

#silverCheck:checked ~ label:after{
    transform: rotate(0deg);
}
#silverCheck:checked ~ #silverTable {
    display: block;
}

#platinumCheck:checked ~ label:after{
    transform: rotate(0deg);
}
#platinumCheck:checked ~ #platinumTable {
    display: block;
}

#familyCheck:checked ~ label:after{
    transform: rotate(0deg);
}
#familyCheck:checked ~ #familyTable {
    display: block;
}

.artistImg {
    width: 30%;
    float: left;
}
/* ----------------------------- */


/* Featured Artist Page */
.artistDetails {
    text-align: justify;
    margin:5%;
}

.column {
    float: left;
    width: 33.33%;
}

.row  span{
    margin: 0 5%;
}

.row img{
    width: 80%;
    min-height: 50%;
    border: 3px solid black;
}

.row {
    margin: 5% 5%;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


#listAlbums {
    border: 1px solid black;
    width: 100%;
}

#featuredTitle {
    font-style: italic;
    text-shadow: 2px -1px lightgray;
}
/* ------------------------- */


/* Music List Page */

#greetings img {
    width: 50%;
}

#genreNav {
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #333333;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: x-large;
    margin-bottom: 3%;
    text-align: left;
}

li {
    margin-top: 3%;
}


li a{
    color: white;
}
li a:visited{
    color: white;
}

li a:hover{
    color: #DB53FB;
}

ul {
    padding-left: 0;
    border-top: 1px solid white;
}
#genrelist {
    text-align: left;
    display: none;
    font-size: medium;
}

#burgerCheck:checked ~ #genrelist {
    display: block;

}

#burgerLabel {
    color: #DB53FB;
    margin-left: 1%;
    cursor: pointer;
}


#genreNav input[type=text] {
    float: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

.collapseContainer2 {
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #333333;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: x-large;
    margin-bottom: 3%;
    text-align: center;
}

.collapseContainer2 .inside{
    background-color: white;
    color: black;

}

.collapseContainer2 a{
    font-style: italic;
    text-shadow: 2px -1px black;
    color: #DB53FB;
}

.collapseContainer2 a:visited{
    color: #DB53FB;
}

.collapseContainer2 a:hover{
    color: #DB53FB;
}


.collapseContainer2 img{
    width: 99%;
    margin: 1% 0 1% 1%;
    vertical-align: middle;
}

.collapseContainer2 label{
    color: #DB53FB;
    text-shadow: 2px -1px darkgray;
}
.collapseContainer2 td {
    width: 30%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.collapseContainer2 p{
    text-shadow: none;
    display: inline;
}
/* -------- */



/* Album details page*/
#musicTracksInfo {
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #333333;
    border-bottom: 3px solid black;
    width: 100%;
    font-size: x-large;
    margin-bottom: 3%;
    color: #DB53FB;
}

#musicTracksInfo h2 {
    padding-top: 3%;
}

#audioList p {
    margin-bottom: 1%;
}

#musicTracksInfo img{
    width: 50%;
}

audio {
    max-width: 95%;
}


/* Slideshow CSS  #1c1c1c #700070 colors */

.slideshowContainer {
    margin: 20px auto 0;
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 36%;
    user-select: none;
    background-color: #1c1c1c;
    border: 5px solid #700070;
    border-radius:10px ;
    color: #DB53FB;
    text-align: left;
    font-size: large;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slideContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    transition: .4s;
}

#input1, #input2, #input3 {
    display: none;
}

#sliderNavButtons {
    width: 100%;
    position: relative;
    z-index: 3;
    cursor: default;
    margin-top: 3%;
    margin-bottom: 3%;
}

.slideButtons {
    width: 20px;
    height: 20px;
    margin: 0 5%;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border: 1px solid black;
}

#input1:checked ~ #slide1,
#input2:checked ~ #slide2,
#input3:checked ~ #slide3 {
    display: block;
}

#input1:checked ~ .slideButtons #button1,
#input2:checked ~ .slideButtons #button2,
#input3:checked ~ .slideButtons #button3 {
    background-color: #E5E4E2;
}


/* Media queries */

/* On screens that are too small  (320px is the smallest width of phones now days) */
@media screen and (max-width: 340px) {
    /*    Shared in all pages    */
    body {
        background-color: white;
    }

     .textBox p, span {
        font-size: medium;
    }
    .navBar {
        font-size: 18px;
    }

    .navBar a{
        padding: 2% 3%;
    }

    .artistDetails span, .artistDetails p{
        font-size: 15px;
    }

}


/*  Galaxy ford has the smallest width (280px)  */
@media screen and (max-width: 310px) {
    /*    Shared in all pages    */
    span, p {
        font-size: medium;
    }

    .slideshowContainer {
        padding-bottom: 40%;
    }

    .navBar {
        font-size: 17px;
    }

    .navBar a{
        padding: 2% 2%;

    }

    h1{
        font-size: 22px;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        font-size: 18px;
    }

    #genreNav {
        font-size: large;
    }
    .artistDetails span, .artistDetails p{
        font-size: 15px;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px){
    .navBar a{
        padding: 2% 7%;
    }
}

/*    Tablets  and larger devices   */
@media screen and (min-width: 700px) and (min-height: 550px) {
    /*    Shared in all pages    */
    p, span {
        font-size: 30px;
    }
    h1{
        font-size: 38px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 33px;
    }

    .navBar {
        font-size: 33px;
    }

    .collapseContainer label, .collapseContainer2 label, #genreNav label{
        font-size: 33px;
    }

    #dummyDiv {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 750px) and (min-height: 550px){
    /*    Shared in all pages    */
    p, span {
        font-size: 35px;
    }
    h1{
        font-size: 43px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 38px;
    }

    .navBar {
        font-size: 37px;
    }

    .collapseContainer label, .collapseContainer2 label, #genreNav label{
        font-size: 38px;
    }

    #dummyDiv {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 800px) and (min-height: 550px){
    .navBar a{
        padding: 12px 8%;
    }
}

