#slideShow {
    display: inline-block;
    height: auto;
    max-width: 80%;
    overflow: hidden;
    position: relative;
}

#slideShow .ratio {
    visibility: hidden;
}

#slideShow .slideContent {
    top: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
    left: -100%;
    -webkit-transition: all linear 400ms;
    -moz-transition: all linear 400ms;
    -o-transition: all linear 400ms;
    transition: all linear 400ms;
}

#slideShow .ratio,
#slideShow .slideContent {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

#slideShow input:checked + .slideContent {
    z-index:0;
    opacity: 1;
    left: 0;
}

#slideShow input {
    display: none;
}

.slidesNav {
    margin-top: 2%;
}

.buttonSlide {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}


.slidesNav {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: -32px;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.slidesNav label,
#slideShow .next,
#slideShow .prev {
    text-align: center;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
    color: black;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    text-decoration: none;
    width: 20px;
    z-index: 20;
}

.slideContent:hover .slidesNav {
    bottom: 0;
    z-index: 15;
}